* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    background: #FFFFFF;

  }
  a:link, a:visited {
    color: #E50043;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
.links >li {
    margin-right: 40px;
    display: inline;
   
}
.links > li:last-of-type {
    margin-right: 15px;
}
.links{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    display: flex;
    align-items: center;
    color: #E50043;
}
.name {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #E50043;
}
.logo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
  background-position: center;
  margin-top: 100px;    background-image: url(images/evian_origins_logo.png) 

}
  h4 {
    font-family: 'Arial';
    font-size: 25px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0.05em;
  }
.bottle {
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.common {
  width: 1040px;
  margin: 0 auto
}
.border {
    margin-top: 150px;
    margin-bottom: 150px;
    list-style-type: none;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    padding: 20px
}
 .bottles-container {
  justify-content: space-between;
  display: flex;
}
.bottle {
  display: flex;
  flex-wrap: wrap;
  width: 281px;
  font-family: 'Arial';
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}
.border-flex{
   display: flex;
 }
.text {
  padding: 15px;
 }
.image {
  margin: 20px 55px 0 45px
 }
.footer {
    width: 100%;
    height: 140px;
    padding-top: 40px;
    padding-left: 15px;
    color: #FFFFFF;
    background: #F8BFC7;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;  
}
   
   