* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    width: 100%;
    height: 140px;
    z-index: 10;
   
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: #FFFFFF;

  }
  a:link, a:visited {
    color: #E50043;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
.links >li {
    margin-right: 50px;
    display: inline;
   
}
.links > li:last-of-type {
    margin-right: 0;
}
.links{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    display: flex;
    align-items: center;
    color: #E50043;
}

.name {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #E50043;
}
.logo {
    border: 3px solid black;
    width: 100%;
    margin-top: 75px;
    height: 950px;
    background-position: 50%;
    background-image: url(images/evian_origins_logo.png) 

    
}

  h4 {
    font-family: 'Arial';
    font-size: 25px;
    font-weight: 100;
    line-height: 29px;
    letter-spacing: 0.05em;
  }
  

.bottle {

   align-items: flex-start;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    
}

.border {
    margin-top: 150px;
    margin-bottom: 150px;
    list-style-type: none;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    padding: 10px
   
    
}


.common {
    width: 1040px;
    position: relative;
    left: 195px
}
.border-flex{
    display: flex;
    
    
 }
 .bottles-container {
        justify-content: space-between;
        display: flex;
    }
 .bottle1,.bottle2,.bottle3 {
     width: 281px;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    text-align: center;
 }

.footer {
    width: 100%;
    height: 140px;
   
    color: #FFFFFF;
    background: #F8BFC7;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    align-items: center;
    padding: 30px
}
   
   