* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .body {
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    background-image: url(background.png)
}
  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%px;
    height: 90px;
    background: #F8BFC7;
}
  .header a, 
  .footer h1{
    font-family: 'Helvetica';
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
  }
  nav {
    padding: 0 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  .menu > li {
     margin-right: 30px;
     display:inline
  }
  nav a:hover{
    text-decoration: underline;
  }
  nav a:active {
    color: red;
  }
  .central-block {
    display: flex;
    background-image: url(background.png);
    height: 640px;
  }
  .client-form {
    height: 80%;
  }
  .main-form{
    margin: 70px 0 10px 90px;
    width: 300px;
    height: 362px;
    background: #F8BFC7;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
}
  .form-row {
    margin-left: 10px;
    margin-top: 16px;
}
  .form-row label {
    height: 23px;
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.form-row input {
    margin-top: 16px;
    border: none;
    border-bottom: 1px solid white;
    width: 90%;
    height: 23px;
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 23px;
    color: white;
    background-color: #F8BFC7;;
    display: flex;
    align-items: center;
}
.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
    color: red;
    box-shadow: none;
}
.form-row ::-webkit-input-placeholder{
    color: #FFFFFF;
}
.form-row button {
    width: 200px;
    height: 60px;
    margin-left: 135px;
    background: #FEB700;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
}
.slogan {
    position: absolute;
    left: 300px;
    top: 670px;
    height: 57px;
    font-family: 'Helvetica';
    font-size: 30px;
    text-transform: uppercase;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FEB700;
  }
.footer h1{
    color: #FFFFFF;
    margin: 0 50px 0 50px;
  }
  @media only screen and (max-width: 1024px) {
      .slogan {
        left: 150px;
        font-size: 20px;
      }
    }
  @media only screen and (min-width: 1025px) and (max-width: 1240px) {
       .slogan {
        font-size: 25px;
        left: 200px;
       }
        
      }